*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#root{
    display: flex;
    justify-content: center;
}
.post{
    display: flex;
    justify-content: space-between;
    border: 2px solid teal;
    padding: 15px;
    margin-top: 30px;
    align-items: center;
}
.App{
    width: 800px;

}